# .env.example
# Copy this file to .env and fill in your values

# Airflow User and Project
AIRFLOW_UID=50000
AIRFLOW_GID=50000
AIRFLOW_PROJ_DIR=.

# Database Configuration
POSTGRES_USER=<YOUR_DB_USER>
POSTGRES_PASSWORD=<YOUR_DB_PASSWORD>
POSTGRES_DB=<YOUR_DB_NAME>

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Airflow Configuration
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<YOUR_DB_USER>:<YOUR_DB_PASSWORD>@postgres/<YOUR_DB_NAME>
AIRFLOW__CELERY__BROKER_URL=redis://<YOUR_DB_HOST>:<YOUR_DB_PORT>/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<YOUR_DB_USER>:<YOUR_DB_PASSWORD>@postgres/<YOUR_DB_NAME>
_PIP_ADDITIONAL_REQUIREMENTS=pandas psycopg2-binary pyodbc uuid jdatetime airflow-clickhouse-plugin==1.5.0 clickhouse-driver==0.2.9 apache-airflow-providers-ssh apache-airflow-providers-sftp apache-airflow-providers-google

AIRFLOW__CORE__LOAD_EXAMPLES=false

# Airflow Admin Credentials
_AIRFLOW_WWW_USER_USERNAME=<YOUR_ADMIN_USERNAME>
_AIRFLOW_WWW_USER_PASSWORD=<YOUR_ADMIN_PASSWORD>
